// type


button.outline{
    border-radius: 4px;
    border:  1px solid #F59525;
    color: #F59525;
    background-color: white;
}




// size
button.small{
    padding: 5px 10px 5px 10px;
    background: yellow;
}
button.medium{
 padding: 10px 20px 10px 20px;
}
button.large{
 padding: 20px 30px 20px 30px;
}
